# Exclude Python cache directories
__pycache__/
*/__pycache__/

# Exclude virtual environment folders
.venv/
venv/
*/.venv/
*/venv/

# Internal and output folders
_internal/
*/_internal/

output/
*/output/

# Data folder handling
# Ignore all files in data but keep the data and data/archive folders
data/*
!data/
!data/archive/

# Ignore all files (and subfolders) inside data/archive
data/archive/*

# Keep folder placeholders so directories exist even if empty
!data/.gitkeep
!data/archive/.gitkeep

# Exclude this .gitignore file itself and other specified files
.gitignore
auto-push.sh
compile-js.json